*.pyc
.project
*~
/build
/dist
/*.egg-info
blackgecko.conf
/.pybuild
debian/blackgecko
debian/debhelper-build-stamp
debian/blackgecko.debhelper.log
debian/blackgecko.postinst.debhelper
debian/blackgecko.prerm.debhelper
debian/blackgecko.substvars
*.swp
.idea
*iml
webcam.log