Source: blackgecko
Section: python
Priority: optional
Maintainer: Jorge Hortelano, <jorgehortelano@gmail.com>
Standards-Version: 0.2.1
Build-Depends: debhelper (>= 7), python3
X-Python-Version: >= 3.3

Package: blackgecko
Architecture: all
Section: python
Essential: no
Replaces: blackgecko
Provides: blackgecko
Description: 
	Python application for detecting intrusions. 
